.backwithc20{
    width: 44%;
}
.block_2{
    display: flex;
}
.text_and_bttm{
    background: white;
    height: 25%;
    width: 56%;
}
.p_and_bttm{
    font-size: 37px;
    font-family: 'Roboto';
    font-weight: 700;
    margin-left: 48px;
}
.p_and_bttm_last{
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-left: 48px;
}
.text_and_bttm button{
    margin-left: 48px;
    font-weight: 400;
    font-size: 15px;
    font-family: "Roboto";
    padding: 4px 61px 4px 61px;
    border-radius: 8px;
    border: none;
    background: #FF451C;
    color: white;
}