.block_5{
    display: flex;
}
.form_for_subc{
    width: 50%;
}
.img_near_form{
    width: 50%;
}
.img_c20{
    width: 100%;
    height: 100%;
}
.first_p_form{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 37px;
    margin-left: 24px;
}
.second_p_form{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    margin-left: 24px;
}
.form_for_email{
    margin-left: 24px;
    height: 35px;
    width: 90%;
}
.form_for_subc a{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    margin-left: 24px;
}